
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    font-family: poppins;
    padding: 0;
    margin: 0;
}


/* Slider - Part */

.slider{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    height: 76.43vh;
}



/* Talks - part */

.container{
    padding: 7em;
}

.from{
    font-weight: 600;
    font-size: 2.4vh;
    width: 40vh;
}


/* Director's Talks */

.container1{
    display: flex;
}

.img1{
    width: 30vh;
    border-radius: 30vh;
    
}

.container1-right{
    padding-top: 16vh;
    padding-left: 2em;
    color: #888888;
    
}


#designation1{
    margin-top: -1vh;
    margin-left: 2em;
    font-size: 2vh;
    color: #888888;
    font-weight: 300;


}

#designation{
    margin-top: -1vh;
    font-size: 2vh;
    color: #888888;
    font-weight: 300;

}


/* Dean's Talks */


.container2{
    display: flex;
}

.container2-left{
    padding-top: 16vh;
    color: #888888;
    text-align: right;
    padding-right: 3em;
}

.container2-right{
    text-align: center;
}

.img2{
    width: 30vh;
    border-radius: 50%;
}


/* Faculty Advisor's Talks */

.container3{
    display: flex;
}



.container3-right{
    padding-top: 20vh;
    color: #888888;
    padding-left: 3em;
    
}

